$text-font-stack: 'Segoe UI', sans-serif !default;
$body-color: #Fbfbfb;
$primary-font-color: #515151;
$secondary-font-color: #a8a8a8;
$grey: #ddd;
$accent: #ff0e49;
$accent2: #ff1e6d;

$breakpoints: (
  'x-small': 320px,
  'small': 435px,
  'medium': 768px,
  'large': 1024px,
) !default;
